
h1{font-family: "微软雅黑";}
table{background:#ABCDEF;width:80%;overflow: auto;    }
table td{border: 1px solid black;height:50px;}
.inputbox{ width:300px;height:20px;}
table textarea{width:500px;height:300px;max-height: 300px;max-width: 500px;overflow:auto;}